<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= page_meta(@conn, assigns, :page_title, "FSTDT") %></title>
    <meta name="description" content="<%= page_meta(@conn, assigns, :page_description, "") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <div class="chrome top">
      <header class="layout-wrapper">
        <h1>Fundies Say the Darndest Things!</h1>
        <%= if not is_nil get_flash(@conn, :ok) do %>
        <div role="alert" class="alert alert--ok js--closable">
        <%= get_flash(@conn, :ok) %>
        </div>
        <% end %>
        <%= if not is_nil get_flash(@conn, :error) do %>
        <div role="alert" class="alert alert--error js--closable">
        <%= get_flash(@conn, :error) %>
        </div>
        <% end %>
        <%= case @conn.assigns[:account] do %>
          <% nil -> %>
            <%= form_for @conn, auth_path(@conn, :login), [as: :login, method: :post], fn f -> %>
              <div class=form-group>
                <label class=textentry-box-label for=login_username>Username</label>
                <%= text_input f, :username, class: "textentry-box textentry-box--compact" %>
              </div>
              <div class=form-group>
                <label class=textentry-box-label for=login_password>Password</label>
                <%= text_input f, :password, class: "textentry-box textentry-box--compact", type: :password %>
              </div>
              <%= submit "Log in", class: "btn" %>
            <% end %>
          <% account -> %>
            <h2><%= account.username %></h2>
            <%= form_for @conn, auth_path(@conn, :logout), [as: :logout, method: :post], fn f -> %>
              <%= submit "Log out", class: "btn btn--danger" %>
            <% end %>
        <% end %>
      </header>
    </div>

    <main class="layout-wrapper">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
