<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= page_meta(@conn, assigns, :page_title, "FSTDT") %></title>
    <meta name="description" content="<%= page_meta(@conn, assigns, :page_description, "") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <div class=wrapper>
        <%= if not is_nil get_flash(@conn, :ok) do %>
        <div role="alert" class="alert alert--ok js--closable">
        <%= get_flash(@conn, :ok) %>
        </div>
        <% end %>
        <%= if not is_nil get_flash(@conn, :error) do %>
        <div role="alert" class="alert alert--error js--closable">
        <%= get_flash(@conn, :error) %>
        </div>
        <% end %>
        <nav class="navbar toprow">
          <a href="/">Home</a> |
          <a href="/l/f/">Archives</a> |
          <a href="/l/f/random/">Random</a> |
          <a href="/l/f/commented/">Latest Comments</a> |
          <a href="/l/f/top/">Top 250</a> |
          <a href="/submit/">Submit Quote</a> |
          <a href="/search/">Search</a> |
          <%= case @conn.assigns[:account] do %>
            <% nil -> %> <a href="/login/">Log In</a> | <a href="/register/">Register</a>
            <% _ -> %> <button class="link" action="/logout/" method="post">Log Out</button>
          <% end %>
        </nav>
        <nav class="navbar bottomrow">
		  <a href="http://forums.fstdt.net">Forums</a> |
		  <a href="http://irc.digibase.ca:8667/?channels=fstdt">IRC Chat</a>
        </nav>
        <%= render @view_module, @view_template, assigns %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
