<div class="listing has-aside">
  <%= render FstdtWeb.QuoteView, "quote.html", quote: @quote, conn: @conn %>
  <section class="item">
    <h3 id="comments">Comments</h3>
    <%= form_for @conn, comment_submit_path(@conn, :submit, @quote.id, @comment_nonce), [as: :comment, method: :put], fn _ -> %>
      <textarea name="contents"></textarea>
      <input type="submit" value="Preview">
    <% end %>
  </section>
</div>
