@import "normalize";

@font-face {
  font-family: 'FundieForte';
  src: url('/FORTE.TTF') format('truetype');
}

html {
  height: 100%;
}

body {
  background-color: #666;
  font-family: serif;
  min-height: 100%;
}

.wrapper {
  max-width: 70em;
  margin: 0 auto;
  background: #EEE;
  border-left: 0.5em solid #333;
  border-right: 0.5em solid #333;
  padding: 0.5em;
  flex-grow: 1;
}

.navbar {
  text-align: center;
  font-family: sans-serif;
}

a, .link {
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: #0000c0;
  font: inherit;
  cursor: pointer;
  .navbar & {
    text-decoration: none;
  }
  &:visited {
    color: #8050af;
    text-decoration: underline;
  }
  &:hover, &:active {
    color: #FF7733;
    text-decoration: underline;
  }
}

.row {
  display: flex;
  flex-direction: row;
  & > * {
    margin: 0 0.5em;
  }
}

.media {
  padding-bottom: 1em;
  & > img {
    float: left;
    margin-right: 0.5em;
  }
  & > * {
    overflow: hidden;
  }
  &:after {
    content: ". . . . . . .";
    display: block;
    clear: both;
    width: 0;
    height: 0;
  }
}

.compact {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1em;
  }
}

.divided {
  border-top: solid 1px #000;
  margin-top: 0.25em;
  padding-top: 0.25em;
}

// Smart text entry fields, rather than having their own scrollbars,
// just size themselves to whatever the user types.
.textentry-box {
  padding: 0.25em 0.5em;
  margin: 0;
  border: solid 1px #999;
  border-top-color: #000;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  white-space: pre-wrap;
  z-index: 1;
  resize: none;
  line-height: inherit;
  background: #F9F9F9;
  transition-property: background;
  outline: solid 0 #000;
  overflow: hidden;
  &:hover, &:active, &:focus {
    background: #FFF;
  }
  &:active, &:focus {
    outline-width: 1px;
    border-color: #000;
  }
}
.textentry-box--compact {
  padding: 0.125em 0.25em;
  margin: 0.125em 0;
}
.textentry-box-label {
  text-transform: uppercase;
  font-size: 0.75em;
}
.textentry textarea {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
}
.textentry pre {
  visibility: hidden;
}
.textentry {
  position: relative;
}

.btn {
  padding: 0.125em 0.25em;
  margin: 0.125em 0;
  border: solid 1px #999;
  border-bottom-color: #000;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  white-space: pre-wrap;
  z-index: 1;
  resize: none;
  line-height: inherit;
  background: #F9F9F9;
  transition-property: background;
  outline: solid 0 #000;
  overflow: hidden;
  &:hover, &:active, &:focus {
    background: #FFF;
  }
  &:active, &:focus {
    outline-width: 1px;
    border-color: #000;
  }
}

.form {
}
.form-group {
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
}