<% %{inserted_at: inserted_at, votes_total: votes_total, text_html: text_html, fundie: %{name: fundie}, site_name: %{name: site_name}, submitter: %{username: username}, url_original: url_original, id: id} = @quote %>
<section>
    <header class="compact">
        <p>Quote# <%= id %></p>
    </header>
    <main>
        <%= Phoenix.HTML.raw(text_html) %>
    </main>
    <aside class="compact">
        <p>
            <%= fundie %>, <a href="<%= url_original %>"><%= site_name %></a>
            <%= if id do %><a href="comments"><%= 0 %> Comments</a> [<%= inserted_at %>]<% end %>
        </p>
        <p>Submitted By: <%= username %></p>
        <%= if id do %>
          <p><button class=link>😲️ WTF?!</button> [Fundie Index: <%= votes_total %>] <button class=link>😐️ meh</button></p>
        <% end %>
    </aside>
</section>